mixin car-card(model, colors, name, cost, price, discount, transmission, fuel, color)
  .car-card
    .car-card__header
      .car-card__name=name
    .car-card__content
      .car-card__preview
        .car-card__labels
          .car-card__labels_item В наличии
        .car-card__slider
          picture
            img(
              data-color-name=color
              src=require('@/img/pics/cars/' + model + '/front/' + color + '.png')
              srcset=`${require('@/img/pics/cars/' + model + '/front/' + color + '-large.png')} 2x`
              alt=name
            )
      .car-card__main
        .car-card__params
          span Авторассрочка #[b 0%]
          span Первый взнос #[b 0%]
        .car-card__prices
          .car-card__price.car-card__prices-price
            .car-card__label Выгода
            .car-card__value до #{priceFormat(discount)} ₽
            //- .car-card__crossed #{priceFormat(cost)} ₽
      .car-card__bonuses
        .car-card__options
          .car-card__option
            .car-card__icon
              +icon('transmission')
            .car-card__text=transmission
          .car-card__option
            .car-card__icon
              +icon('drive')
            .car-card__text=fuel
        ul.car-card__bonuses-list
          li Гарантия 7 лет
          li Рассрочка от 0%
          li Уже в наличии
      .car-card__palette.mobile
        for color, index in colors
          .car-card__color(
            class=`${index === 0 ? 'is-active' : ''}`
            data-color-name=color.name
            style=`background: ${color.hex}`
          )
      .car-card__control
        .car-card__button
          .btn.btn_transparent(@click=`modalOpen({title: 'Заявка на выгоду', target: 'Заявка на авто: ${model.toUpperCase()} ${name} (${color})',
          yandex_id: 'zayavka'})`) Получить выгоду
        .car-card__button
          .btn(@click=`modalOpen({title: 'Узнать цену', target: 'Заявка на авто: ${model.toUpperCase()} ${name} (${color})',
          yandex_id: 'zayavka'})`) Узнать цену
        .car-card__button
          .btn.btn_second(@click=`modalOpen({
            title: 'Заявка на кредит',
            target: 'Заявка на авто в кредит: ${model.toUpperCase()} ${name}  (${color})',
            gtm_name: 'button-credit',
            yandex_id: 'zayavka'
          })`) Рассчитать кредит
    .car-card__palette.tablet
      for color, index in colors
        .car-card__color(
          class=`${index === 0 ? 'is-active' : ''}`
          data-color-name=color.name
          style=`background: ${color.hex}`
        )
